/* New variants and sizes */
/* Custom variants and sizes should follow the pattern of the default bootstrap variants, and define css classes matching: component-* */

/* Variants */
.btn-purple {
  background-color: #2c1c59;
  border-color: #2c1c59;
  color: fff;
}

.btn-purple-outline {
  color: #2c1c59;
  background-color: #ffffff;
}

/* Sizes */

.btn-l {
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
}

/* Subhead 3 */
.btn-xl {
  font-size: 15px;
  line-height: 18px;
}
.btn-xxl {
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
}
