/* 1. CUSTOMER INFORMATION */

/* Rectangle 118 */
.customer-info {
  /* Extra Light Gray */
  padding: 0.5em;
  background: #f2f2f2;
  /* Card Shadow */

  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
}

.title-dp {
  width: 100%;
}

/* Subscribe to our newsletter */
#formGridCheckbox {
  margin: -0.5em 0em 1em 0.2em;
}

.subscribe {
  position: absolute;
  margin-bottom: 1em;
  /* Sub Filter */
  padding-right: 1em;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 21px;
  /* identical to box height */

  /* Purple */

  color: #2c1c59;
}

.subscribe-radio {
  top: -0.15em;
  width: 2em;
  left: 0.5em;
}

.customer-info-title {
  margin: 0em;
  padding: 0em;
  height: 2.5em;
  width: 200%;
  text-align: start;
  margin-right: 5.3em;

  /* Headline 5 */

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0.001em;
  text-transform: capitalize;

  /* Purple */

  color: #2c1c59;
}

/* Rectangle 125 */
.cs-Rectangle-125 {
  height: 4px;

  /* Purple */

  background: #2c1c59;
}

.customer-info-menu {
  padding: 1em 1.5em;
}

/* customer-info METHOD */
.customer-info-method {
  /* Overline */

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  letter-spacing: 0.015em;
  text-transform: uppercase;

  /* Purple */

  color: #2c1c59;
}

/* customer-info content */

/* Credit Card */
.credit-card-placeholder {
  /* Sub Filter */

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 21px;

  /* Black - Text Color */

  color: #1e1e1e;
}

/* toppng 1 */

/* CONTINUE TO SHIPPING METHOD */
.cont-shipping-method {
  margin-left: 9em;
  width: 70%;

  margin-bottom: 1em;
  float: right;

  /* Button */

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.0125em;
  text-transform: uppercase;

  /* White */

  color: #ffffff!important;
}
