/* ADD NEW LOCATION */
.add-new-location {
  /* Button */

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.0125em;
  text-transform: uppercase;

  /* Purple */

  color: #2c1c59;
}

/* Add Location */
.add-location {
  margin-left: 3.25em;
  margin-top: -2em;

  /* Headline 3 */

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 43px;
  /* identical to box height */

  color: #000000;
}

/* Search */
.add-location-search {
  position: relative;
  width: 30em;
  line-height: 3em;
  margin: 1em;
}

/* City or zipcode */
#city-or-zipcode {
  width: 22em;
  height: 2em;
  margin-top: -1em;
  margin-left: 0.7em;
  padding-left: 0.7em;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.0125em;
  text-transform: uppercase;

  /* Grey */

  color: #929292;
}

/* Vector */
.vector {
  position: absolute;

  /* True Black */

  /* background: #000000; */
}

.add-location-card {
  /* margin-top: -1em; */
}

/* Location Card */
.location-card {
  width: 8.05em;
  height: 6.8em;
  margin: 0.5em 0em;

  /* Rectangle 107 */

  background: #ffffff;
  /* Card Shadow */

  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.frontground {
  position: relative;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

/* local pic */
.local-pic {
  /* background: url(img/Nashville.jpg); */
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  /* background: rgba(0, 0, 0, 0.5);
border-radius: 4px; */

  /* Rectangle 107 */

  color: #ffffff;
}

.local-name {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */

  letter-spacing: 0.0125em;
  text-transform: uppercase;
}

.local-title {
  position: absolute;
  top: 25%;
  left: -20%;
  right: -20%;
  /* right */
  text-align: center;

  color: #ffffff;
}

/* ADD NEW LOCATION */
.local-add {
  margin-top: 3.25em;

  /* Button */

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.0125em;
  text-transform: uppercase;

  /* Purple */

  color: #2c1c59;
}
