#login-card-body,
#signup-card-body {
  background-color: #f3f2f2;
  flex: 1 1 auto;
  min-height: 1px;
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
  padding-right: 4.5rem !important;
  padding-left: 4.5rem !important;
}

.modal-content {
  width: 550px !important;
  background-color: #f3f2f2 !important;
}

#login-card-body {
  margin-bottom: 40px;
  width: 100%;
  height: 100%;
}

#login-card-title {
  margin-top: -10px;
}

#signup-card-body {
  margin-bottom: 0;
}

.react-responsive-modal-modalCenter {
  background-color: #f3f2f2 !important;
  border-radius: 0.25rem;
}

.modal-container-signup,
.modal-container-login,
/* .container-fluid, */
.container-lg,
.container-md,
.container-sm,
.container-xl {
  width: 100%;
  padding-top: 0;
  padding-right: 0 !important;
  padding-left: 0 !important;
  margin-right: 40px !important;
  margin-left: auto;
}

button.react-responsive-modal-closeButton:active {
  outline: none !important;
}

#login-card,
#signup-card {
  background-color: #f3f2f2;
  margin-bottom: 40px;
}

#login-card-title,
#signup-card-title,
#contact-card-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 34px;
  font-weight: 700;
}

#login-card-subtitle,
#signup-card-subtitle {
  text-align: center;
  margin-top: 10px;
}

#new-to-site,
#contact-subtitle {
  font-family: 'Montserrat', sans-serif !important;
  margin-bottom: 50px;
}

#sign-up {
  font-family: 'Roboto', sans-serif;
  text-decoration: underline;
  margin-left: 10px;
}

#email-login-input {
  margin-bottom: 15px;
}

.form-check-input {
  position: absolute;
  margin-top: 0.4rem !important;
  margin-left: -1.25rem;
}

#remember-group {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin-top: 15px;
}

/* Align remember me checkbox */
label {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
}

input {
  width: 13px;
  height: 13px;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  position: relative;
  top: 0;
  *overflow: hidden;
}

/* -------------------------- */

#forgot {
  font-family: 'Roboto', sans-serif;
  position: relative;
  z-index: 99;
  float: right;
  text-decoration: underline;
  margin-top: 1px;
}

#login-btn,
#signup-btn {
  font-family: 'Montserrat', sans-serif;
  clear: both;
  background-color: #2c1c59;
  margin-top: 20px !important;
  margin-bottom: 30px;
  border-radius: 4px;
}

#signup-btn {
  margin-top: 15px;
  margin-bottom: 0;
}

#facebook-login-btn {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  background-color: #3b5998;
  width: 49%;
  border-radius: 4px;
  float: left;
}

#google-login-btn {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  background-color: #d54b3d;
  width: 49%;
  border-radius: 4px;
  float: right;
}

#facebook-login-btn,
#google-login-btn {
  margin-top: 10px;
}

.or-h2 {
  clear: both;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #bfbfbf;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.or-h2 span {
  background: #f3f2f2;
  padding: 0 10px;
}

#or-text {
  font-family: 'Montserrat', sans-serif;
  color: #bfbfbf;
  font-size: 16px;
}

/* ========================
MEDIA QUERIES
======================== */

@media screen and (min-width: 981px) and (max-width: 1200px) {
  /* .container {
      background-color: red;
    } */

  #forgot {
    margin-top: 1px;
  }
}

@media screen and (min-width: 769px) and (max-width: 980px) {
  /* .container {
      background-color: yellow;
    } */

  #forgot {
    margin-top: 1px;
  }
}

@media screen and (min-width: 641px) and (max-width: 768px) {
  /* .container {
      background-color: orange;
    } */

  #forgot {
    margin-top: 1px;
  }
}

@media screen and (min-width: 551px) and (max-width: 640px) {
  /* .container {
      background-color: brown;
    } */

  #forgot {
    margin-top: 2px;
  }
}

@media screen and (min-width: 471px) and (max-width: 550px) {
  /* .container {
      background-color: salmon;
    } */

  #signup-card-title,
  #login-card-title {
    font-size: 30px;
  }

  #new-to-site,
  #sign-up {
    font-size: 14px;
  }

  .input-container-name .name-input,
  .input-container-email .email-input {
    font-size: 14px;
  }

  .input-container .pw-input {
    font-size: 14px;
  }

  .input-container2 .pw-input2 {
    font-size: 14px;
  }

  label {
    font-size: 14px;
  }

  #forgot {
    margin-top: 2px;
    font-size: 14px;
  }
}

@media screen and (min-width: 431px) and (max-width: 470px) {
  /* .container {
      background-color: blue;
      font-size: 10px;
    } */

  #signup-card-title,
  #login-card-title {
    font-size: 30px;
  }

  #new-to-site,
  #sign-up {
    font-size: 14px;
  }

  .input-container-name .name-input,
  .input-container-email .email-input {
    font-size: 12px;
  }

  .input-container .pw-input {
    font-size: 12px;
  }

  .input-container2 .pw-input2 {
    font-size: 12px;
  }

  label,
  #forgot {
    margin-top: 5px;
    font-size: 12px;
  }
}

@media screen and (min-width: 401px) and (max-width: 430px) {
  /* .container {
      background-color: burlywood;
    } */

  .input-container-name .name-input,
  .input-container-email .email-input {
    font-size: 12px;
  }

  .input-container .pw-input {
    font-size: 12px;
  }

  .input-container2 .pw-input2 {
    font-size: 12px;
  }
}

@media screen and (min-width: 100px) and (max-width: 400px) {
  /* .container {
      background-color: pink;
    } */

  .input-container-name .name-input,
  .input-container-email .email-input {
    font-size: 12px;
  }

  .input-container .pw-input {
    font-size: 12px;
  }

  .input-container2 .pw-input2 {
    font-size: 12px;
  }
}
