#dropdown-button-drop-right{
  margin: 0px;
    padding: 0;
    border: none;
  margin: 0em;
  padding: 0em;
}

.news-filter-dropdown {
  margin: 0px;
    padding: 0;
    border: none;
  margin: 0em;
  padding: 0em;
  overflow-x: hidden;
  background: #2c1c59;
  box-sizing: border-box; /* or not */
  margin: 0 auto;
  width: 60em;
  height: 30em;
  background: #f2f2f2;
  padding: 1.5rem;
  text-align: left;
}

/* TOP STORIES */

/* Subhead 3 */
#dropdown-button-drop-right {
  margin: 0px;
    padding: 0;
    border: none;
  padding: 0em 3em;
  margin: 0em;

  margin-left: -2em;
  text-align: left;
  /* margin-right: 4rem; */
  /* font-family: Montserrat; */
  /* font-style: normal; */
  /* font-weight: 500; */
  /* font-size: 15px; */
  line-height: 2em;
  letter-spacing: 0.0025em;
  width: 16rem;

  /* White */

  /* color: #ffffff; */
  /* background-color: #2c1c59; */
}

.news-topics {
  margin: 0px;
    padding: 0;
    border: none;
  margin: 0em;
  padding: 0em;
  overflow-x: hidden;

  box-sizing: border-box; /* or not */
  margin: -5rem auto;
  margin-top: -1.55em;
  margin-left: 2em;
  width: 40rem;
  background: #f2f2f2;
  /* padding: .5rem; */

  
}

.news-topics-headline {
  
  
  /* Headline 7 */

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 23px;

/* Purple */

color: #2C1C59;
}

.news-topics ul {
  /* Subhead 3 */

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;
letter-spacing: 0.0025em;

/* Purple */

color: #2C1C59;
}


.policy-topics {
  overflow-x: hidden;

  box-sizing: border-box; /* or not */
  margin: 0rem auto;
  margin-top: -1.55em;
  margin-right: 18em;
  width: 40rem;
  background: #f2f2f2;
  /* padding: .5rem; */
}

.policy-topics ul {
  /* Subhead 3 */

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;
letter-spacing: 0.0025em;

/* Purple */

color: #2C1C59;
}

.full-width-tinted {
  position: relative; /* child absolute */
  margin: 0 -9600rem;

  /* add back section padding value */
  padding: 0.25rem 9600rem;
  background: #2c1c59;
  background: rgba(0, 0, 0, 0.25);
  color: white;
  font-size: 1.125rem;
  z-index: 0;
}

.full-width-tinted:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;

  /* subtract h2 padding */
  /* left: 9598.5rem;
  right: 9598.5rem; */
  background: #2c1c59;
}
