#signUpForNewsletter,
#add-newsletter-sub {
    font-family: Montserrat;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.0125em;        
    background-color: #2C1C59;
    border-color: #2c1c59;
    color: #f2f2f2;
    margin-top: 4px;    
    border-radius: 4px;
}

#add-newsletter-sub {
    float: right;
}

#add-newsletter-sub:hover,
#signUpForNewsletter:hover {
    color: black
}


#signUpForNewsletter:focus,
#signUpForNewsletter:active {
  outline: none !important;
  box-shadow: none;
}

.newsletter-overlay {
    margin: 0em;
    padding: 0em;
    margin-top: 2.6em;    
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.15));
    border-radius: 2px;
    color: #f2f2f2;
}

.newsletter-overlay-close{    
    margin: 0em;
    padding: 0em;
    background: #f2f2f2;
    height: 3.5em;
}

.newsletter-overlay-contents {
    background: #f2f2f2;
}

.newsletter-overlay-title {        
    margin: auto;
    margin-top: -.55em !important;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 43px;    
    width: 290px;  
    color: #000000;
    text-align: center;
}

.newsletter-overlay-paragraph {        
    margin: auto;
    margin-top: 1.5em !important;
    margin-bottom: 1.0em !important;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;    
    color: #000000;    
}

#emailHeader {
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    line-height: 17px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .015em;
    color: #676767
}

#emailEntry,
#subPhoneNumber {
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
    line-height: 20px;
    font-family: 'Montserrat', sans-serif;    
    color: black
}

#subPhoneNumber {            
    margin-left: 20px !important;
    margin-top: 4px;
    width: 75%;    
  }

.subCheckboxes {        
  font-family: Montserrat;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: #000000;    
  padding-top: 3px;
  margin-top: 8px;
}

#subscribedToNewsletter {
  font-family: Montserrat;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.0125em;            
  color:  #2C1C59;  
  padding-top: 10px;
}

#newsletterOverlayColumn {    
    width: 100%;
    text-align: right;
}

.errorText {
    font-size: 12px;
    font-weight: 400;
    font-style: normal;  
    font-family: 'Roboto', sans-serif;  
    color: red
  }


@media screen and (min-width: 300px) and (max-width: 801px) {
    #newsletterOverlayColumn {        
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    #subscribedToNewsletter {        
        width: 100%;
        text-align: center;
        margin-bottom: 8px;
    }    
  }