/* 4. ORDER CONFIRMATION */

/* Rectangle 118 */
.order {
  /* Extra Light Gray */
  padding-left: 0.5em;
  background: #f2f2f2;
  /* Card Shadow */

  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
}

.title-dp {
  width: 100%;
}

.order-title {
  margin: 0em;
  padding: 0em;
  height: 2.5em;
  margin-right: 6.3em;
  /* Headline 5 */

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0.001em;
  text-transform: capitalize;

  /* Purple */

  color: #2c1c59;
}

/* Rectangle 125 */
.oc-Rectangle-125 {
  height: 4px;
  /* Purple */

  background: #2c1c59;
}

.order-menu {
  padding: 0em 1.25em;
}

/* THANK YOU! */
.thank-you {
  /* Headline 2 */

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 43px;
  /* identical to box height */

  text-align: start;

  /* Purple */

  color: #2c1c59;
}

/* Order #19283 */
.order-num {
  margin-left: 3.2em;

  /* Overline */

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  letter-spacing: 0.015em;
  text-transform: uppercase;

  /* Purple */

  color: #2c1c59;
}

/* Your order is confirmed. */
.confirmation-title {
  /* Headline 5 */

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0.001em;
  text-transform: capitalize;

  /* Purple */

  color: #2c1c59;
}

/* Confirmation has been sent to your email address provided. Please check your email for updates on your oder status. */
.confirmation-text {
  /* Body 2 */

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */

  letter-spacing: 0.005em;

  /* Purple */

  color: #2c1c59;
}

/* Shipping address */
.cs-info-title {
  /* Overline */

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  letter-spacing: 0.015em;
  text-transform: uppercase;

  /* Purple */

  color: #2c1c59;
}

/* RETURN TO STORE */
.return-to-store {
  width: 40%;

  margin-left: 18em;
  margin-bottom: 1em;

  /* Button */

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.0125em;
  text-transform: uppercase;

  /* White */

  color: #ffffff !important;
}
