/* 3. PAYMENT */

/* Rectangle 118 */
.payment {
  /* Extra Light Gray */
  padding-left: 0.5em;
  background: #f2f2f2;
  /* Card Shadow */

  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
}

.title-dp {
  width: 100%;
}
.payment-title {
  margin: 0em;
  padding: 0em;
  height: 2.5em;
  margin-right: 13.7em;
  /* Headline 5 */

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0.001em;
  text-transform: capitalize;

  /* Purple */

  color: #2c1c59;
}

/* Rectangle 125 */
.pmt-Rectangle-125 {
  height: 4px;

  /* Purple */

  background: #2c1c59;
}

.payment-menu {
  padding: 0em 1.25em;
}

/* PAYMENT METHOD */
.checkout-subtitle {
  /* Overline */

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  letter-spacing: 0.015em;
  text-transform: uppercase;

  /* Purple */

  color: #2c1c59;
}

.payment-box {
  width: 100%;
  /* Rectangle 2 */
  height: 2.5em;
  margin-bottom: 1em;

  justify-content: space-around;

  background: #ffffff;
  /* True Black */

  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
}

/* Payment content */

/* Credit Card */
.credit-card-placeholder {
  /* Sub Filter */

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 21px;

  /* Black - Text Color */

  color: #1e1e1e;
}

/* toppng 1 */
#basic-addon1 {
  position: absolute;
  right: 1.5em;
  top: 0.5em;
  /* background: url(toppng.png); */
}

.credit-card-img {
  width: 40%;
  margin-top: -0.55em;
  margin-right: 0.2em;
}

.paypal-img {
  width: 20%;
  margin-top: 0em;
  margin-right: 0.2em;
}

.amazon-pay-img {
  width: 22%;
  margin-top: 0.35em;
  margin-right: 0.2em;
}

.credit-card-i {
  position: relative;
  justify-content: space-between;
  font-size: 2em;
  text-align: right;
  float: right !important;
}

/* NAME ON CARD */
.credit-card-info {
  /* Search bar */

  width: 100%;
  margin-left: 0.75em;
  margin-right: 0.5em;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  letter-spacing: 0.0125em;
  text-transform: uppercase;

  /* Grey */

  color: #929292;
}

/* image 10 */
#basic-addon2 {
  position: relative;
  width: 4em;

  /* background: url(image.png); */
}

/* BILLING ADDRESS */
.billing-address {
  height: 17px;
  left: 25px;
  right: 443px;
  top: 436px;

  /* Overline */

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  letter-spacing: 0.015em;
  text-transform: uppercase;

  /* Purple */

  color: #2c1c59;
}

/* Same as shipping address */
.billing-placeholder {
  position: absolute;

  /* Sub Filter */

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 21px;

  /* Black - Text Color */

  color: #1e1e1e;
}

/* PAY NOW */
.pay-now {
  width: 25%;
  margin-left: 23em;
  margin-bottom: 1em;
  float: right;

  /* Button */

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.0125em;
  text-transform: uppercase;

  /* White */

  color: #ffffff !important;
}
