/* 3. PAYMENT */

.payment {
  /* Rectangle 118 */
  /* margin: auto; */

  /* position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%; */

  /* Extra Light Gray */

  background: #f2f2f2;
  /* Card Shadow */

  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
}

.payment-title {
  margin: 0em;
  padding: 0em;
  /* position: absolute; */
  height: 2.5em;
  width: 100%;
  /* left: 25px; */
  /* right: 428px; */
  /* top: 25px; */

  /* Card Shadow */

  /* Headline 5 */

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0.001em;
  text-transform: capitalize;

  /* Purple */

  color: #2c1c59;
}

.Rectangle-125 {
  /* Rectangle 125 */

  /* position: absolute; */
  height: 4px;
  width: 100%;
  /* left: 1.5em; */
  /* right: 1.5em; */
  /* top: 2em; */

  /* Purple */

  background: #2c1c59;
}

.payment-menu {
  margin-bottom: 2.5em;
  padding: 0em 1.2em;
}

.payment-method {
  /* PAYMENT METHOD */

  /* position: absolute;
height: 17px;
left: 25px;
right: 436px;
top: 94px; */

  /* Overline */

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  letter-spacing: 0.015em;
  text-transform: uppercase;

  /* Purple */

  color: #2c1c59;
}

/* Payment content */

.credit-card-placeholder {
  /* Credit Card */

  /* position: absolute;
width: 97px;
height: 20px;
left: 46px;
top: 10px; */

  /* Sub Filter */

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 21px;

  /* Black - Text Color */

  color: #1e1e1e;
}

#basic-addon1 {
  /* toppng 1 */

  /* size: 2em; */
  /* position: absolute; */
  height: 2.4em;
  left: 25em;
  right: 0em;
  top: 0em;

  /* background: url(toppng.png); */
}
.credit-card-i {
  margin: 2em;
  padding: 2em;
  justify-content: 1em;
  font-size: larger;
  /* text-align: center; */
}

.credit-card-info {
  /* NAME ON CARD */
  /* margin-left: 1.6em; */

  /* position: absolute;
width: 135px;
height: 20px;
left: 15px;
top: 10px; */

  /* Search bar */

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  letter-spacing: 0.0125em;
  text-transform: uppercase;

  /* Grey */

  color: #929292;
}

#basic-addon2 {
  /* image 10 */

  position: relative;
  /* text-align: center; */
  width: 4em;
  /* height: 24px;
left: 46px;
top: 8px; */

  /* background: url(image.png); */
}

.billing-address {
  /* BILLING ADDRESS */

  /* position: absolute; */
  height: 17px;
  left: 25px;
  right: 443px;
  top: 436px;

  /* Overline */

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  letter-spacing: 0.015em;
  text-transform: uppercase;

  /* Purple */

  color: #2c1c59;
}

.billing-placeholder {
  /* Same as shipping address */

  position: absolute;
  /* width: 223px;
height: 20px;
left: 46px;
top: 10px; */

  /* Sub Filter */

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 21px;

  /* Black - Text Color */

  color: #1e1e1e;
}
.pay-now {
  /* PAY NOW */
  margin-left: 24.5em;
  margin-bottom: 1em;
  float: right;
  /* position: absolute; */
  /* width: 82px;
height: 20px;
left: calc(50% - 82px/2);
top: calc(50% - 20px/2); */

  /* Button */

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.0125em;
  text-transform: uppercase;

  /* White */

  color: #ffffff;
}
