/* Right Rail Buttons */
.gb-5 {
  font-family: Montserrat;

  margin-right: 1em;

  width: 70%;
  padding: 0.25em;
  border-radius: 0.25rem;
  background-color: #ffffff;
}

/* Frame 43 */

.gb-text {
  /* Auto Layout */
  height: 2.8em;
  display: flex;
  /* flex-direction: column; */
  align-items: flex-start;

  left: 0%;
  right: 0%;
  top: 0%;

  /* Purple */

  border: 1px solid #2c1c59;
  background-color: white;
  box-sizing: border-box;
  border-radius: 5px;

  /* Inside Auto Layout */
}
