/* 2. SHIPPING METHOD */

/* Rectangle 118 */
.shipping-method {
  /* Extra Light Gray */
  padding-left: 0.5em;
  background: #f2f2f2;
  /* Card Shadow */

  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
}

.sm-title {
  margin: 0em;
  padding: 0em;
  height: 2.5em;
  margin-right: 8.7em;
  /* Headline 5 */

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0.001em;
  text-transform: capitalize;

  /* Purple */

  color: #2c1c59;
}

.shipping-method-btn {
  text-align: start;
  /* margin-right: 5.3em; */
}

.title-dp {
  width: 100%;
}

/* Rectangle 125 */
.sm-Rectangle-125 {
  height: 4px;

  /* Purple */

  background: #2c1c59;
}

.shipping-method-form {
  /* margin-top: 1em; */
  
  padding: 1em 1.5em 1em 0.75em;
}

.shipping-method-box {
  /* margin-left: 1em; */
  width: 105%;
  /* Rectangle 2 */
  height: 2.5em;
  margin-bottom: 1em;

  /* justify-content: space-around; */

  background: #ffffff;
  /* True Black */

  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
}

.shipping-method-radio {
  left: 1.85em;
  top: 0.35em;
}

.shipping-method-title {
  /* Standard US Shipping */
  top: 0.45em;
  position: absolute;
  left: 3em;

  /* Sub Filter */

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 21px;
  /* identical to box height */

  /* Black - Text Color */

  color: #1e1e1e;
}

/* shipping-method METHOD */
.shipping-method-price {
  /* Price */
  top: 0.8em;
  position: absolute;
  right: 1em;

  float: inline-end;

  /* Overline */

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: right;
  letter-spacing: 0.015em;
  text-transform: uppercase;

  /* Black - Text Color */

  color: #1e1e1e;
}

/* Continue to Payment */
.cont-pmt {
  margin-left: 15.2em;
  width: 51%;
  margin-bottom: 1em;
  position: relative;
  /* Button */

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.0125em;
  text-transform: uppercase;

  /* White */

  color: #ffffff;
}
