/* Shopping cart summary */

.your-items {
  margin: 0em;
  padding: 0em;

  /* position: absolute;
width: 606px;
height: 589px;
left: 732px;
top: 387px; */

  /* Card Shadow */

  filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.15));
  border-radius: 2px;
}

.your-items-title {
  /* YOUR ITEMS (1) */

  position: relative;
  /* left: 33.99%;
  right: 33.99%; */
  margin: auto;

  /* top: 4.24%;
  bottom: 90.66%; */

  /* Headline 5 */

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.001em;
  text-transform: capitalize;

  /* Purple */

  color: #2c1c59;
}

/* Shopping cart contents */

.your-items-contents {
  /* Shopping cart contents */

  /* position: absolute; */
  /* width: 606px;
height: 584px;
left: 0px;
top: 0px; */
}

.rectangle124 {
  /* position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0.85%; */

  /* Extra Light Gray */

  background: #f2f2f2;
}

.your-items-table {
  /* Group 182 */

  /* position: absolute; */
  /* width: 556px;
  height: 31px;
  left: 25px;
  top: 80px; */
  margin-top: 1em;

  /* Item */

  /* position: absolute; */
  /* width: 37px;
height: 17px;
left: calc(50% - 37px/2 - 259.5px);
top: calc(50% - 17px/2 - 205px); */

  /* Overline */

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  /* line-height: 17px; */
  /* identical to box height */

  letter-spacing: 0.015em;
  text-transform: uppercase;

  /* Purple */

  color: #2c1c59;
}

/* image 7 */

.your-items-img {
  margin-top: 1em;
  /* position: absolute; */
  /* left: 12.14%;
  right: 77.35%;
  top: 35.3%;
  bottom: 49.93%; */

  /* background: url(image.png); */

  /* height: 50% !important;
  width: 50% !important;
  height: 55% !important;
  width: 55% !important; */
  /* height: 215px !important;
  width: 140px !important; */
  /* margin: auto !important; */
  /* margin-bottom: 20px !important;
  padding-top: 25px !important; */
}

.your-items-des {
  margin-top: 1em;
  /* Title */

  /* position: absolute; */
  /* width: 169px;
  height: 36px; */
  /* left: calc(50% - 169px / 2 - 103.5px);
  top: calc(50% - 36px / 2 - 108.5px); */

  /* Subhead 3 */
  margin: auto;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.0025em;

  /* Gray / 100 */

  color: #19191d;
}

.your-items-qty .your-items-price {
  /* Price */

  text-decoration: none;
  text-align: center;
  text-align-last: center;

  /* position: absolute;
  width: 45px;
  height: 18px;
  left: calc(50% - 45px / 2 + 255.5px);
  top: calc(50% - 18px / 2 + 110.5px); */

  /* Overline */

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: right;
  letter-spacing: 0.015em;
  text-transform: uppercase;

  /* Black - Text Color */

  color: #1e1e1e;
}

.your-items-promo {
  /* PROMO CODE */

  /* position: absolute;
  width: 120px;
  height: 20px;
  left: 15px;
  top: 10px; */

  /* Search bar */

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  letter-spacing: 0.0125em;
  text-transform: uppercase;

  /* Grey */

  color: #929292;
  background: white;
}

.your-items-apply {
  /* promo button */

  position: absolute;
  width: 84px;
  height: 40px;
  /* left: calc(50% - 84px / 2 + 236px);
  top: calc(50% - 40px / 2 + 1.5px); */

  /* Purple */
  color: white;

  background: #2c1c59;
  border-radius: 5px;
}

.your-items-sub .your-items-shipping {
  /* SUBTOTAL */

  position: absolute;
  width: 82px;
  height: 18px;
  left: calc(50% - 82px / 2 - 237px);
  top: calc(50% - 18px / 2 + 110.5px);

  /* Subhead 3 */

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.0025em;

  /* Purple */

  color: #2c1c59;
}

.your-items-total {
  /* TOTAL */

  /* position: absolute;
width: 61px;
height: 23px;
left: calc(50% - 61px/2 + 94.5px);
top: calc(50% - 23px/2 + 253px); */

  /* Headline 7 */

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;

  /* Purple */

  color: #2c1c59;
}

.your-items-total-price {
  /* Price */

  /* position: absolute;
width: 64px;
height: 24px;
left: calc(50% - 64px/2 + 246px);
top: calc(50% - 24px/2 + 252.5px); */

  /* Headline 7 */

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  /* identical to box height */

  text-align: right;

  /* Black - Text Color */

  color: #1e1e1e;
}
