/* Shopping cart overlay */

#shopping-cart-overlay {
  margin: 0em;
  padding: 0em;
}

/* Button */
.view-cart-btn {
  margin-left: 13.5em;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  max-width: 40%;
  height: 2.3em;
  /* identical to box height */

  letter-spacing: 0.0125em;
  text-transform: uppercase;

  /* Purple */

  color: #2c1c59 !important;
  border: 1px solid #2c1c59 !important;
  box-sizing: border-box;
  border-radius: 5px;
}

.view-cart-btn:hover {
  background-color: #2c1c59 !important;
  color: #ffffff !important;
}

.fa-shopping-cart {
  padding-right: 1em;
}

#item-in-cart {
  margin: 0;
  padding: 0.15em 0.4em;
  position: absolute;
  margin-left: -1.75em;
  margin-top: 0.35em;
}

/* Rectangle 82 */
.shopping-cart {
  margin: 0em;
  padding: 0em;
  margin-top: 5em;

  /* Card Shadow */

  filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.15));
  border-radius: 2px;

  /* Extra Light Gray */

  color: #f2f2f2;
  border-radius: 2px;
}

.shopping-cart-close {
  text-decoration: none;
  margin: 0em;
  padding: 0em;
  /* White */
  background: #f2f2f2;
  height: 6.5em;
}

/* Shopping Cart (1) */
.shopping-cart-title {
  position: relative;
  left: 16%;
  right: 33.99%;
  margin-top: -2.5em;
  padding: 0em;

  /* Headline 3 */

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 43px;
  /* identical to box height */

  color: #000000;
  text-align: center;
}

/* Shopping cart contents */

.shopping-cart-contents {
  /* White */

  background: #f2f2f2;
  border-radius: 2px;
  /* Card Shadow */

  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
}

/* Item */
/* Rectangle 124 */
.shopping-cart-table {
  margin: 1em 0.5em;
  padding: 1em 1em;

  /* White */

  background: #ffffff;
  /* Card Shadow */

  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
}

.col-center {
  text-align: right;
}

/* Item */
.shopping-cart-items {
  margin-top: 1.25em;

  /* Overline */

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  letter-spacing: 0.015em;
  text-transform: uppercase;

  /* Purple */

  color: #2c1c59;
}

/* Rectangle 37 */
.rectangle-37 {
  margin-top: 0.5em;
  height: 0.2em;

  /* Purple */

  background: #2c1c59;
}

.shopping-cart-details {
  margin: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

/* image 7 */
.shopping-cart-img {
  /* background: url(image.png); */
}

/* Title */
.shopping-cart-des {
  text-align: left;
  margin-top: 1em;

  /* Subhead 3 */

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 0.61em;
  line-height: 1.5em;
  letter-spacing: 0.0025em;

  /* Gray / 100 */

  color: #19191d;
}

/* Qty */
.shopping-cart-qty {
  text-align: center;
  margin-top: 1em;

  /* Overline */

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.015em;
  text-transform: uppercase;

  /* Black - Text Color */

  color: #1e1e1e;
}

/* Price */
.shopping-cart-price {
  text-align: right;
  margin-top: 1em;

  /* Overline */

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.015em;
  text-transform: uppercase;

  /* Black - Text Color */

  color: #1e1e1e;
}

/* Line 86 */
.line-86 {
  border: 1px solid #000000;
}

.subtotal {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

/* SUBTOTAL */
.shopping-cart-sub {
  /* Subhead 3 */

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: left;
  letter-spacing: 0.0025em;

  /* Purple */

  color: #2c1c59;
}

.price {
  margin: 0em;
}

/* SHIPPING */
.shopping-cart-shipping {
  /* Subhead 3 */

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: left;
  letter-spacing: 0.0025em;

  /* Purple */

  color: #2c1c59;
}

/* Shipping calculated at checkout */
.shopping-cart-caption {
  margin-top: 0.5em;
  /* Caption */

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  /* identical to box height */

  text-align: end;
  letter-spacing: 0.03em;

  /* Dark Gray */

  color: #676767;
}

.shopping-cart-bottom {
}

/* Checkout */
.shopping-cart-checkout {
  /* Log in */

  margin: 2em 0em;
  height: 8em;
  border-radius: 5px;

  /* Button */

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  letter-spacing: 0.0125em;
  text-transform: uppercase;

  /* White */

  color: #ffffff;
}

.checkout-btn {
  width: 100%;
}

/* Checkout */
#checkout {
  text-align: center;

  /* Button */

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  letter-spacing: 0.0125em;
  text-transform: uppercase;

  /* White */

  color: #ffffff;
}

/* -OR- */
.line-or-left {
  position: relative;
  margin-top: 2em;
  width: 100%;

  /* Grey */
  color: #929292;
  border: 0.5px solid #929292;
}

.shopping-cart-or {
  position: relative;
  margin-top: 1.5em;
  /* Subhead */

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.004em;

  /* Grey */

  color: #929292;
}

.line-or-right {
  position: relative;
  margin-top: 0.75em;
  width: 100%;

  /* Grey */
  color: #929292;
  border: 0.5px solid #929292;
}

/* CONTINUE SHOPPING */
.shopping-cart-cont {
  width: 100%;
  margin-top: -0.5em;
}

/* Link */
#continue-shopping {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 0.1em;
  text-align: center;
  text-decoration-line: underline;

  /* Purple */

  color: #2c1c59;
}
