/* Shopping cart summary */

.your-items {
  /* Card Shadow */

  /* Extra Light Gray */

  background: #f2f2f2;
  /* Card Shadow */

  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
}

.your-items-title {
  margin: 0em;
  padding: 0em;
  /* YOUR ITEMS (1) */

  position: relative;

  margin: auto;

  /* Headline 5 */

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.001em;
  text-transform: capitalize;

  /* Purple */

  color: #2c1c59;
}

/* Shopping cart contents */

.your-items-contents {
  position: relative;
  color: #2c1c59;
  display: grid;
  grid-gap: 1rem;

  align-items: center;
}

.rectangle124 {
  /* Extra Light Gray */

  background: #f2f2f2;
}

.your-items-table {
  /* Group 182 */

  margin-top: 1em;

  /* Item */

  /* Overline */

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;

  /* identical to box height */

  letter-spacing: 0.015em;
  text-transform: uppercase;

  /* Purple */

  color: #2c1c59;
}
.middle-col {
  text-align: center;
}

.right-col {
  text-align: right;
}

.Rectangle-37 {
  /* Rectangle 37 */

  height: 4px;

  /* Purple */

  background: #2c1c59;
}

/* image 7 */

.your-items-img {
  margin: auto;
}

.your-items-des {
  /* Title */

  /* Subhead 3 */
  margin: auto;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.0025em;

  /* Gray / 100 */

  color: #19191d;
}

/* Price */

.your-items-qty {
  /* Overline */

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.015em;
  text-transform: uppercase;
  margin-top: 2em;
  /* Black - Text Color */

  color: #1e1e1e;
}
.your-items-price {
  /* Price */

  margin-top: 1.5em;
}

.item-price {
  /* Overline */
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: right;
  letter-spacing: 0.015em;
  text-transform: uppercase;

  /* Black - Text Color */

  color: #1e1e1e;
}

.your-items-promo {
  /* PROMO CODE */
  margin: auto;
  margin-left: 1em;
  padding: 0em;

  /* Search bar */

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  letter-spacing: 0.0125em;
  text-transform: uppercase;

  /* Grey */

  color: #929292;
  background: white;

  /* True Black */

  border: 1px solid #000000;
  box-sizing: i;

  border-radius: 4px;
}

.rectangle-2 {
  /* Rectangle 2 */

  position: relative;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background: #ffffff;
}

.your-items-apply {
  /* promo button */
  align-items: flex-end;
  text-align: right;
  /* position: absolute; */
  width: 84px;
  height: 40px;

  /* Purple */
  color: white;

  background: #2c1c59;
  border-radius: 5px;
}

.line-84 {
  /* Line 84 */

  /* position: absolute;
left: 4.13%;
right: 4.13%;
top: 60.44%;
bottom: 39.56%; */

  border: 1px solid #000000;
}

.your-items-sub {
  /* SUBTOTAL */

  /* position: absolute;
  width: 82px;
  height: 18px;
  left: calc(50% - 82px / 2 - 237px);
  top: calc(50% - 18px / 2 + 110.5px); */

  /* Subhead 3 */

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.0025em;

  /* Purple */

  color: #2c1c59;
}

.your-items-total {
  /* TOTAL */

  /* Headline 7 */

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: right;

  /* Purple */

  color: #2c1c59;
}

.your-items-total-price {
  /* Price */

  /* Headline 7 */

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  /* identical to box height */

  text-align: right;

  /* Black - Text Color */

  color: #1e1e1e;
}
