/* Shopping cart summary */

/* Card Shadow */
.your-items {
  border: none;
  text-decoration: none;

  /* Extra Light Gray */

  background: #f2f2f2;
  /* Card Shadow */

  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
}

/* YOUR ITEMS (1) */
.your-items-title {
  position: relative;
  margin: auto;
  padding-top: 1em;

  /* Headline 5 */

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.001em;
  text-transform: capitalize;

  /* Purple */

  color: #2c1c59;
}

/* Shopping cart contents */
.your-items-contents {
  position: relative;
  color: #2c1c59;
  display: grid;
  grid-gap: 1rem;

  align-items: center;
}

/* Group 182 */
/* Item */
.your-items-table {
  margin-top: 1em;

  /* Overline */

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;

  /* identical to box height */

  letter-spacing: 0.015em;
  text-transform: uppercase;

  /* Purple */

  color: #2c1c59;
}

.middle-col {
  text-align: center;
}

.right-col {
  text-align: right;
}

/* Rectangle 37 */
.Rectangle-37 {
  height: 4px;

  /* Purple */

  background: #2c1c59;
}

/* image 7 */
.your-items-img {
  margin: auto;
}

/* Title */
.your-items-des {
  /* Subhead 3 */
  margin: auto;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.0025em;

  /* Gray / 100 */

  color: #19191d;
}

/* Qty */
.your-items-qty {
  /* Overline */

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.015em;
  text-transform: uppercase;
  margin-top: 2em;
  /* Black - Text Color */

  color: #1e1e1e;
}

/* Price */
.your-items-price {
  margin-top: 1.5em;
}

/* Overline */
.item-price {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: right;
  letter-spacing: 0.015em;
  text-transform: uppercase;

  /* Black - Text Color */

  color: #1e1e1e;
}

/* PROMO CODE */
.your-items-promo {
  margin: auto;
  margin-left: 1em;
  padding: 0em;

  /* Search bar */

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  letter-spacing: 0.0125em;
  text-transform: uppercase;

  /* Grey */

  color: #929292;
  background: white;

  /* True Black */

  border: 1px solid #000000;
  box-sizing: i;
  border-radius: 4px;
}

/* promo button */
.your-items-apply {
  align-items: flex-end;
  text-align: right;

  /* Purple */
  color: white !important;
  background: #2c1c59;
  border-radius: 5px;
}

/* Rectangle 2 */
.rectangle-2 {
  position: relative;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: #ffffff;
}

/* Line 84 */
.line-84 {
  border: 1px solid #000000;
}

/* SUBTOTAL */
.your-items-sub {
  /* Subhead 3 */

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.0025em;

  /* Purple */

  color: #2c1c59;
}

/* TOTAL */
.your-items-total {
  margin-bottom: 1em;
  /* Headline 7 */

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: right;

  /* Purple */

  color: #2c1c59;
}

/* Price */
.your-items-total-price {
  /* Headline 7 */

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  /* identical to box height */

  text-align: right;

  /* Black - Text Color */

  color: #1e1e1e;
}
