.book-card {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.book-image {
  height: 55% !important;
  width: 55% !important;
  /* height: 215px !important;
  width: 140px !important; */
  margin: auto !important;
  margin-bottom: 20px !important;
  padding-top: 25px !important;
}

.item-category,
.book-price {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700 !important;
}

.book-title-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 700 !important;
}

.book-caption {
  font-family: 'Roboto', sans-serif;
  /* font-size: 15.5px; */
}

.book-price {
  float: right;
  color: #000000;
}

.rating-stars {
  font-size: 10px;
  padding-bottom: 10px;
}

.rating {
  font-size: 16px;
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
}
