.NavbarItems {
  background: linear-gradient(90deg, #1f27c9 0%, #bd0819 100%);
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  flex-shrink: 0;
}

.header-logo {
  color: #fff;
  justify-self: start;
  cursor: pointer;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 60%;
  list-style: none;
  margin-top: 6%;
  margin-right: 10%;
  margin-left: none;
  color: #d1d0d0;
  font-size: 130%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  
}

li:hover {
  color: white;
}

.menu-title {
  color: white;
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 6%;
  align-items: center;
  justify-items: center;
  margin-left: 40%;
  white-space: nowrap;
  border-bottom: solid thin;
  border-width: 2px;
}
