* {
  /* font-family: Montserrat;
  color: #2C1C59; */
}

/* Subhead - SearchBar */

.search-bar {
  /* position: absolute; */
  /* width: 1440px; */
  height: 4em;
  left: 5%;
  /* top: 174px; */
}

/* Frame 12 */

/* Auto Layout */
.news-filters-btn {
  /* display: inline-block; */
  /* flex-direction: column; */
  /* align-items: flex-start; */
  /* margin: 0 auto; */
  /* margin-left: 6em; */
  margin-top: 0.3em;
  margin-left: -0.5em;
  padding: 0em 0.5em 0.1em 0.4em;

  /* position: absolute; */
  /* left: 6.94%;
  right: 80.28%;
  top: 21.43%;
  bottom: 21.43%; */
  height: 40px;
  /* width: 184px; */
  /* padding: 0em; */
  text-align: center;

  /* Purple */

  background: #2c1c59;
  border-radius: 5px;
  color: white;
}

/* Frame 67 */

.news-filters {
  /* Auto Layout */

  display: inline-block;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  font-family: Montserrat;

  position: static;

  /* width: 154px; */
  height: 20px;
  /* left: 15px; */
  top: 10px;
  text-align: center;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  align-self: center;
  flex-grow: 0;
  /* margin: 0px 10px; */
}

.fa-chevron-down {
  /* Vector */

  position: static;
  width: 20px;
  height: 12px;
  left: 134px;
  top: 4px;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  align-self: center;
  flex-grow: 0;
  margin: 10px 0px;
}

/* Group 68 */

.group-68 {
  /* position: absolute; */
  /* width: 580px; */
  height: 20px;
  left: 380px;
  top: 25px;
  font-weight: bold;
}

/* HOT TOPICS */
.hot-topics {
  /* position: absolute; */
  /* left: 36.39%;
  right: 66.25%;
  top: 35.71%;
  bottom: 35.71%; */
  padding: 0px 40px 0px 100px;
  font-family: Montserrat;
  color: #2c1c59;
}

/* SearchBar Text */
.search-bar-text {
  position: relative;
  /* left: 35.49%;
  right: 56.04%;
  top: 35.71%;
  bottom: 35.71%;
  */

  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  letter-spacing: 0.001em;

  /* Black - Text Color */

  color: #1e1e1e;
}

/* Search */

.search {
  /* position: absolute; */
  right: 3em;
  /* right: 2em; */
  top: 0.4em;
  /* bottom: 21.43%; */
  height: 2.8em;
  padding: 17px;
  border-radius: 0.25rem;
  width: 70%;
  padding: 0em 0em 0em 1.5em;
  background-color: #ffffff;
}
.search-i {
  position: relative;
  z-index: 1;
  top: -0.2em;
  left: -5em;
  /* top: 1px; */
  /* color: #7b7b7b; */
  color: #000000;
  cursor: pointer;
  width: 0;
}

/* Vector */
/* .fa-search {
  position: absolute;
  left: 87.32%;
  right: 5.43%;
  top: 25%;
  bottom: 25%;
  
  /* True Black */

/* background: #000000; 

} */

/* SearchBox */
/* Group 87    */

.search-box {
  /* position: absolute; */
  margin-left: -0.5em;
  width: 70%;
}

/* Search Opinions: */

.search-title {
  /* position: absolute; */
  /* width: 137.96px;
  height: 20px;
  left: 100px;
  top: 294px; */

  /* Subhead */

  /* font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px; */
  margin-left: 7em;
  /* identical to box height */

  letter-spacing: 0.004em;

  color: #000000;
}

/* Search */
.search-input {
  /* position: absolute; */
  /* width: 65%; */
  height: 2.8em;
  left: 7em;
  /* top: 319px; */

  /* True Black */

  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 5px;
}

.search-box-i {
  position: relative;
  /* z-index: 1; */
  top: -0.5em;
  left: 4.5em;
  /* top: 1px; */
  /* color: #7b7b7b; */
  color: #000000;
  cursor: pointer;
  width: 0;
}
