.header {
	font-size: 20px;
	font-weight: bold;
}

.addiContent {
	font-size: 25px;
	font-weight: bold;
}

.addiContentVert {
	font-size: 20px;
	font-weight: bold;
}

.sectionHeader {
	font-size: 20px;
	font-weight: bold;
	color: #808182;
}

.sectionSubHeader {
	font-size: 20px;
	color: #808182;
}
.titleName {
	font-size: 20px;
	font-weight: bold;
}

.location {
	font-size: 15px;
	color: #808182;
}

.dateTitle {
	font-weight: bold;
}

.boxImage {
	height: 100px;
	float: left;
	margin-right: 1rem;
}

.titleFront {
	font-size: 30px;
	font-weight: bold;
}
