.featuredArticleHeader {
    font-family: 'Montserrat', sans-serif !important;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17.07px;
    color: #929292;
}

.featuredArticleTitle {
	font-family: 'Roboto', sans-serif !important;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23.44px;
    color: black;
}

.featuredArticleText {
	font-family: 'Roboto', sans-serif !important;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: black;
    display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}