.passive {
	color: gray;
	font-size: 20px;
}

.title {
	font-size: 25px;
	font-weight: bold;
}

.cardText {
	position: relative;
}

.cardText:after {
	position: absolute;
}

.actionBtnTexts {
	color: #929292;
}
