* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ========================
GLOBAL BUTTON COMPONENT STYLES
======================== */
.global-btn {
  font-family: 'Montserrat', sans-serif;
  color: #2c1c59 !important;
  border-color: #2c1c59 !important;
}

.global-btn:hover {
  background-color: #2c1c59 !important;
  color: #ffffff !important;
}

/* ========================
SIGNUP COMPONENT STYLES
======================== */

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.notvalid-msg-clear {
  display: none;
}

.form-input-field::placeholder {
  font-family: 'Montserrat', sans-serif;
  color: #bfbfbf !important;
}

.hidden-err-msg {
  font-family: 'Roboto', sans-serif;
}

/* ========================
COUNTRY DROPDOWN STYLES
======================== */

#dropdown-label {
  width: 100%;
  display: block;
  padding-left: 0 !important;
  text-indent: 0 !important;
}

#dropdown {
  font-family: 'Montserrat', sans-serif;
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #bfbfbf;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#dropdown:focus {
  outline: none !important;
}

/* Hide default dropdown caret icon */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

/* ========================
PASSWORD TOGGLE STYLES
======================== */

.input-div {
  position: relative;
  display: inline-block;
  width: 100%;
}

.toggle-span,
.icon-span {
  position: absolute;
  right: 1px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
}

.fa-lg {
  text-align: right;
  margin-right: 6px;
  margin-top: 10px;
}

.eye-con {
  margin-right: 15px;
  color: #bfbfbf;
}

.caret-con {
  margin-top: 3px;
  margin-right: 26px;
  color: #bfbfbf;
}

/* ========================
/* CUSTOM CHECKBOX */
/* ======================== */

/* input[type='checkbox'] {
  visibility: hidden;
}

.custom {
  position: relative;
}

.custom label {
  position: absolute;
  top: 0;
  -webkit-appearance: none;
  border: solid 1px #d4d8de;
  border-radius: 3px;
  background-color: white;
  color: #fff;
  white-space: nowrap;
  width: 20px;
  height: 20px;
  margin-left: -13px;
}

.custom label:after {
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
  filter: alpha(opacity=0);
  opacity: 0;
  content: '';
  position: absolute;
  width: 14px;
  height: 8px;
  background: transparent;
  top: 4px;
  left: 3px;
  border: 3px solid #000;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.custom input[type='checkbox']:checked + label:after {
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
  filter: alpha(opacity=100);
  opacity: 1;
} */

/* ========================
/* END CUSTOM CHECKBOX */
/* ======================== */
.input-container-name,
.input-container-email {
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  margin: 15px 0;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  border: 1px solid #d1d0d0 !important;
  background-color: #ffffff;
}

.input-container-name input,
.input-container-email input {
  /* padding: 0; */
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  font-size: 16px;
  border: 0;
  outline: none;
  color: #929292;
}

.input-container-name .name-input,
.input-container-email .email-input {
  font-family: 'Montserrat', sans-serif;
  color: #000000;
}

.input-container {
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  border: 1px solid #d1d0d0 !important;
  background-color: #ffffff;
}

.input-container input {
  /* padding: 0; */
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  font-size: 16px;
  border: 0;
  outline: none;
  color: #929292;
}

.input-container2 {
  margin: 15px 0;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #d1d0d0 !important;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  border: 1px solid #aaa;
  background-color: #ffffff;
}
.input-container2 input {
  /* padding: 0; */
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  font-size: 16px;
  border: 0;
  outline: none;
  color: #929292;
}

.input-container .pw-input {
  font-family: 'Montserrat', sans-serif;
  color: #000000;
}

.input-container2 .pw-input2 {
  font-family: 'Montserrat', sans-serif;
  color: #000000;
}

input::placeholder {
  color: #bfbfbf;
}

/* Add to make placeholder text same color as in Chrome */
input::-moz-placeholder {
  color: #bfbfbf;
  opacity: 1;
}

.name-input,
.email-input,
.pw-input,
.pw-input2 {
  padding: 12px 0;
}

#material-eye {
  /* margin: 0 10px; */
  color: #aaa;
  cursor: default;
  font-size: 20px;
  padding-right: 3px;
  /* padding: 8px; */
}

#material-eye2 {
  /* margin: 0 10px; */
  color: #aaa;
  cursor: default;
  font-size: 20px;
  padding-right: 3px;
  /* padding: 8px; */
}

.form-control {
  width: 100%;
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input {
  padding-right: 2.4em;
  height: 2em;
}

input::-ms-reveal {
  display: none;
}

/* ========================
LOGIN COMPONENT STYLES
======================== */
#login-card-body,
#signup-card-body {
  background-color: #f3f2f2;
  flex: 1 1 auto;
  min-height: 1px;
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
  padding-right: 4.5rem !important;
  padding-left: 4.5rem !important;

  /* margin-bottom: 40px; */
}

#login-card-body {
  margin-bottom: 40px;
}

#signup-card-body {
  margin-bottom: 0;
}

.react-responsive-modal-modalCenter {
  /* margin: auto; */
  background-color: #f3f2f2 !important;
  border-radius: 0.25rem;
}

.modal-container-signup,
.modal-container-login,
/* .container-fluid, */
.container-lg,
.container-md,
.container-sm,
.container-xl {
  width: 100%;
  padding-top: 0;
  padding-right: 0 !important;
  padding-left: 0 !important;
  /* padding-left: 15px; */

  /* margin-right: 150px !important; */
  /* margin-right: 80px !important; */
  margin-right: 40px !important;
  margin-left: auto;
}

button.react-responsive-modal-closeButton:active {
  outline: none !important;
}

#login-card,
#signup-card {
  background-color: #f3f2f2;
  margin-bottom: 40px;
}

#login-card-title,
#signup-card-title,
#contact-card-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 34px;
  font-weight: 700;
}

#login-card-subtitle,
#signup-card-subtitle {
  text-align: center;
  margin-top: 10px;
}

#new-to-site,
#contact-subtitle {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 50px;
}

#sign-up {
  font-family: 'Roboto', sans-serif;
  text-decoration: underline;
  margin-left: 10px;
}

#email-login-input {
  margin-bottom: 15px;
}

.form-check-input {
  position: absolute;
  margin-top: 0.4rem !important;
  margin-left: -1.25rem;
}

#remember-group {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin-top: 15px;
}

/* Align remember me checkbox */
label {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
}

input {
  width: 13px;
  height: 13px;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  position: relative;
  top: 0;
  *overflow: hidden;
}

/* -------------------------- */

#forgot {
  font-family: 'Roboto', sans-serif;
  position: relative;
  z-index: 99;
  float: right;
  text-decoration: underline;
  margin-top: 1px;
}

#login-btn,
#signup-btn {
  font-family: 'Montserrat', sans-serif;
  clear: both;
  background-color: #2c1c59;
  margin-top: 20px !important;
  margin-bottom: 30px;
  border-radius: 4px;
}

#signup-btn {
  margin-top: 15px;
  margin-bottom: 0;
}

#facebook-login-btn {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  background-color: #3b5998;
  width: 49%;
  border-radius: 4px;
  float: left;
}

#google-login-btn {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  background-color: #d54b3d;
  width: 49%;
  border-radius: 4px;
  float: right;
}

#facebook-login-btn,
#google-login-btn {
  margin-top: 10px;
}

.or-h2 {
  clear: both;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #bfbfbf;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.or-h2 span {
  background: #f3f2f2;
  padding: 0 10px;
}

#or-text {
  color: #bfbfbf;
  font-size: 16px;
}

/* ========================
SORT BY COMPONENT STYLES
======================== */

/* #small-search {
  width: 100%;
} */

.page-title {
  color: #2c1c59;
}

#small-search-field {
  width: 100%;
  padding: 17px;
  border-radius: 0.25rem;
  /* border: 1px solid #d1d0d0 !important; */
  border: 1px solid #000000 !important;
  background-color: #ffffff;
}

#small-search-text {
  font-family: 'Montserrat', sans-serif;
}

#small-search-field::placeholder {
  font-family: 'Montserrat', sans-serif;
  color: #bfbfbf !important;
}

#searchsubmit {
  position: relative;
  z-index: 1;
  top: -6px !important;
  left: -25px;
  top: 1px;
  /* color: #7b7b7b; */
  color: #000000;
  cursor: pointer;
  width: 0;
}

.textdiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.texttitle {
  flex-grow: 0;
  font-family: 'Montserrat', sans-serif;
}

#sort-by {
  font-family: 'Montserrat', sans-serif;
}

.divider {
  flex-grow: 1;
  height: 5px;
  background-color: #2c1c59;
  margin-top: 3px;
}

/* ========================
FILTER BARS COMPONENT STYLES
======================== */
#topic,
#source-topic {
  color: #2c1c59;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.filter-dropdown-text {
  font-family: 'Montserrat', sans-serif;
}

#filter-by {
  font-family: 'Montserrat', sans-serif;
}

/* ========================
CONTACT PAGE COMPONENT STYLES
======================== */

.dropdown-toggle,
.dropdown-menu {
  width: 100%;
}

#dropdown-basic-button {
  text-align: left;
}

#dropdown-basic-button {
  background-color: #ffffff;
  color: #2c1c59;
  border-color: #d4d8de;
}

/* ========================
SEARCH BOX COMPONENT STYLES
======================== */
.search {
  padding: 4px 18px;
  border-color: #2c1d59;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
}

input[type='search'] {
  width: 15%;
  height: 30px;
  padding: 5px 10px;
  margin: 8px 0;
  box-sizing: border-box;
}

/* =========================
MEDIA QUERIES
======================== */

@media screen and (min-width: 981px) and (max-width: 1200px) {
  /* #login-card-body,
  #signup-card-body {
    background-color: red;
  } */

  #forgot {
    margin-top: 1px;
  }
}

@media screen and (min-width: 769px) and (max-width: 980px) {
  /* #login-card-body,
  #signup-card-body {
    background-color: yellow;
  } */

  #forgot {
    margin-top: 1px;
  }
}

@media screen and (min-width: 641px) and (max-width: 768px) {
  /* #login-card-body,
  #signup-card-body {
    background-color: orange;
  } */

  #forgot {
    margin-top: 1px;
  }
}

@media screen and (min-width: 551px) and (max-width: 640px) {
  /* #login-card-body,
  #signup-card-body {
    background-color: brown;
  } */

  #forgot {
    margin-top: 2px;
  }
}

@media screen and (min-width: 471px) and (max-width: 550px) {
  /* #login-card-body,
  #signup-card-body {
    background-color: salmon;
  } */

  #signup-card-title,
  #login-card-title {
    font-size: 30px;
  }

  #new-to-site,
  #sign-up {
    font-size: 14px;
  }

  .input-container-name .name-input,
  .input-container-email .email-input {
    font-size: 14px;
  }

  .input-container .pw-input {
    font-size: 14px;
  }

  .input-container2 .pw-input2 {
    font-size: 14px;
  }

  #dropdown {
    font-size: 14px;
  }

  .caret-con {
    margin-right: 28px;
  }

  label {
    font-size: 14px;
  }

  #forgot {
    margin-top: 2px;
    font-size: 14px;
  }
}

@media screen and (min-width: 431px) and (max-width: 470px) {
  /* #login-card-body,
  #signup-card-body {
    background-color: blue;
    font-size: 10px;
  } */

  #signup-card-title,
  #login-card-title {
    font-size: 30px;
  }

  #new-to-site,
  #sign-up {
    font-size: 14px;
  }

  .input-container-name .name-input,
  .input-container-email .email-input {
    font-size: 12px;
  }

  .input-container .pw-input {
    font-size: 12px;
  }

  .input-container2 .pw-input2 {
    font-size: 12px;
  }

  #dropdown {
    font-size: 12px;
  }

  .caret-con {
    margin-right: 17px;
  }

  label,
  #forgot {
    margin-top: 5px;
    font-size: 12px;
  }
}

@media screen and (min-width: 401px) and (max-width: 430px) {
  /* #login-card-body,
  #signup-card-body {
    background-color: burlywood;
  } */
  .input-container-name .name-input,
  .input-container-email .email-input {
    font-size: 12px;
  }

  .input-container .pw-input {
    font-size: 12px;
  }

  .input-container2 .pw-input2 {
    font-size: 12px;
  }

  #dropdown {
    font-size: 12px;
  }

  .caret-con {
    margin-right: 14px;
  }
}

@media screen and (min-width: 100px) and (max-width: 400px) {
  /* #login-card-body,
  #signup-card-body {
    background-color: pink;
  } */
  .input-container-name .name-input,
  .input-container-email .email-input {
    font-size: 12px;
  }

  .input-container .pw-input {
    font-size: 12px;
  }

  .input-container2 .pw-input2 {
    font-size: 12px;
  }

  #dropdown {
    font-size: 12px;
  }

  .caret-con {
    margin-right: 14px;
  }
}

/* ========================
NEWS PAGE STYLES
======================== */
.NewsTitle{
  padding-left: 20%;
  padding-top: 2%;
  padding-bottom: none;
  font-family: Montserrat;
  font-weight: bold;
  color: #2C1C59;
}

.NewsFilter{
  padding-left: 5%;
  padding-top: 0%;
  
}