* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ========================
SEARCH BOX COMPONENT STYLES
======================== */
.search {
  padding: 4px 18px;
  border-color: #2c1d59;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
}

input[type='search'] {
  width: 15%;
  height: 30px;
  padding: 5px 10px;
  margin: 8px 0;
  box-sizing: border-box;
}

/* ========================
NEWS PAGE STYLES
======================== */
.NewsTitle {
  padding-left: 20%;
  padding-top: 2%;
  padding-bottom: none;
  font-family: Montserrat;
  font-weight: bold;
  color: #2c1c59;
}

.NewsFilter {
  padding-left: 5%;
  padding-top: 0%;
}
