/* =================
SIGNUP COMPONENT STYLES
================= */
.form-input-field::placeholder {
  color: #bfbfbf !important;
}

#my-country-field-id {
  display: block;
  width: 100%;
  padding: 6px 12px;
  /* padding: 0.375rem 0.75rem; */
  background-color: #ffffff;
  color: #bfbfbf;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  text-transform: uppercase;
}

#country-dropdown {
  margin-top: 15px;
}

#my-country-field-id:focus {
  outline: none !important;
  /* border: 3px solid #92c7ff; */
  /* box-shadow: 0 0 10px #719ece; */
}

#singleSelectTextDDJS {
  color: #bfbfbf;
}

/* select #my-country-field-id {
  color: #cccccc;
} */

/* =================
PASSWORD TOGGLE STYLES
================= */

.input-div {
  position: relative;
  display: inline-block;
  width: 100%;
}

.form-control {
  width: 100%;
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.eye-con {
  margin-right: 15px;
  color: #bfbfbf;
}

input {
  padding-right: 2.4em;
  height: 2em;
}

input::-ms-reveal {
  display: none;
}

.toggle-span {
  position: absolute;
  right: 1px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
}

/* background-color: white;
  display: block;
  padding: 0.2em;
  width: 1.3em;
  height: 1.3em;
} */

/* =================
LOGIN COMPONENT STYLES
================= */
#login-card-body,
#signup-card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
  padding-right: 4.5rem !important;
  padding-left: 4.5rem !important;
}

#login-card,
#signup-card {
  background-color: #f3f2f2;
  margin-bottom: 40px;
}

.form-check-label {
  font-weight: 700;
}

#login-card-title,
#signup-card-title,
#contact-card-title {
  text-align: center;
  font-size: 34px;
  font-weight: 700;
}

#login-card-subtitle,
#signup-card-subtitle {
  text-align: center;
  margin-top: 10px;
}

#new-to-site,
#contact-subtitle {
  margin-bottom: 50px;
}

#sign-up {
  text-decoration: underline;
  margin-left: 10px;
}

.form-check-input {
  position: absolute;
  margin-top: 0.4rem !important;
  margin-left: -1.25rem;
}

#remember-group {
  margin-top: 20px;
}

#forgot {
  position: relative;
  z-index: 99;
  float: right;
  text-decoration: underline;
}

#login-btn,
#signup-btn {
  clear: both;
  background-color: #2c1c59;
  margin-top: 25px;
  margin-bottom: 30px;
  border-radius: 4px;
}

#facebook-login-btn {
  font-size: 12px;
  background-color: #3b5998;
  width: 49%;
  border-radius: 4px;
  float: left;
}

#google-login-btn {
  font-size: 12px;
  background-color: #d54b3d;
  width: 49%;
  border-radius: 4px;
  float: right;
}

#facebook-login-btn,
#google-login-btn {
  margin-top: 10px;
  /* margin-bottom: 20px; */
}

.or-h2 {
  clear: both;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #bfbfbf;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.or-h2 span {
  background: #f3f2f2;
  padding: 0 10px;
}

#or-text {
  color: #bfbfbf;
  font-size: 16px;
}

/* =================
CONTACT PAGE COMPONENT STYLES
================= */

.dropdown-toggle,
.dropdown-menu {
  width: 100%;
}

#dropdown-basic-button {
  text-align: left;
}

#dropdown-basic-button {
  background-color: #ffffff;
  color: #2c1c59;
  border-color: #d4d8de;
}

/* =================
HEADER COMPONENT STYLES
================= */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(105, 70, 70);
}

li {
  float: left;
  margin: 20px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: rgb(224, 211, 211);
}
